@import "../../assets/fonts/colors.scss";

.card-content {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .card-content {
    flex-direction: row;
    flex-direction: row-reverse;
    border-radius: 18px;
    padding: 1em;
  }
}
